
@font-face {
 font-display: swap; 
 font-family: 'PT Sans';
 font-style: normal;
 font-weight: 400;
 src: url('../fonts/pt-sans-v17-cyrillic-regular.eot'); /* IE9 Compat Modes */
 src: url('../fonts/pt-sans-v17-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/pt-sans-v17-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/pt-sans-v17-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
      url('../fonts/pt-sans-v17-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/pt-sans-v17-cyrillic-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

@font-face {
 font-display: swap; 
 font-family: 'PT Sans';
 font-style: normal;
 font-weight: 700;
 src: url('../fonts/pt-sans-v17-cyrillic-700.eot'); /* IE9 Compat Modes */
 src: url('../fonts/pt-sans-v17-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/pt-sans-v17-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/pt-sans-v17-cyrillic-700.woff') format('woff'), /* Modern Browsers */
      url('../fonts/pt-sans-v17-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/pt-sans-v17-cyrillic-700.svg#PTSans') format('svg'); /* Legacy iOS */
} 

/* roboto-regular - cyrillic_latin */
@font-face {
 font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 src: url('../fonts/roboto-v30-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
 src: url('../fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
      url('../fonts/roboto-v30-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
 font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 src: url('../fonts/roboto-v30-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
 src: url('../fonts/roboto-v30-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/roboto-v30-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
      url('../fonts/roboto-v30-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/roboto-v30-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* MOBILE FIRST */

html {
 font-family: 'PT Sans'
}

* {
 box-sizing: border-box;
}

svg {
 width: 18px;
 height: 18px;   
}

.burger {
 border: none;
 background: none;
}

a {
 text-decoration: none;
}

p {
 margin: 0;
}

ul {
 list-style: none;
 padding: 0;
}

.btn {
 padding: 5px 15px;
 background: #4798DE;
 border: 1px solid #4798DE;
 border-radius: 5px;
 color: #FFFFFF;
 text-align: center;
}

.title {
 position: relative;
 display: inline;
 z-index: 1;
 font-family: 'Roboto';
 font-weight: 700;
 font-size: 18px;
 line-height: 25px;
 color: #15244F;
 margin-bottom: 30px;
}

section {
 position: relative;
}

.title_decor {
 position: absolute;
 z-index: 0;
 top: -27px;
 left: 55px;
 font-style: normal;
 font-weight: 700;
 font-size: 50px;
 line-height: 65px;
 display: flex;
 align-items: center;
 text-align: center;
 color: #F1F2F6;
}

.usual-link {
 font-family: 'PT Sans';
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #4798DE;
}

.price {
 font-weight: 700;
 font-size: 18px;
 line-height: 25px;
 color: #15244F;
}



.hit-sign {
 padding: 3px 7px ;
 font-weight: 700;
 font-size: 10px;
 line-height: 13px;
 color: #FFFFFF;
 background: #6CDB7E;
 border-radius: 2px;
}



/* HEADER */

.logo__img {
 height: 32.73px;
 width: 120px;
}

.header__logo {
 margin-right: auto;
}

header {
 border-bottom: 1px solid #6F7682;
 margin-bottom: 18px;
}

.header {
 padding-top: 12px;
 padding-bottom: 12px;
}


/* CATALOGUE */


.catalogue {
 margin-bottom: 17px;
 height: 25px;
 
}


.catalogue__btn_img {
 width: 20px;
 height: 20px;
 margin-right: 9px;
}


.search__btn {
 width: 40px;
 background: #4798DE;
 background-image: url(../img/svg/search.svg);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 border-radius: 5px;
 border: none;
}

.search__input {
 width: 70%;
}

.search__input[placeholder] {
 font-style: normal;
 font-weight: 400;
 font-size: 10px;
 color: #6F7682;
 text-align: center;
}


/* FIRST SLIDER */

.carousel {
 margin-bottom: 60px;
}



.hero_1 {
 position: relative;
}

.hero__info_1 {

 position: absolute;
 top: 0px;
 left: 58%;
 padding: 28px 9px 23px 5px;
 width: 45%;
 height: 100%;
 background: rgba(255, 255, 255, 0.75);
 
}

.hero__text_1 {
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #6F7682;
}

.hero__sale_1 {
 color: #6CDB7E;
 margin-bottom: 10px;
}

 .carousel-indicators {
  position: relative;

}

.carousel__indic {
 width: 10px !important;
 height: 4px !important;
 background-color:#F1F2F6 !important;
}

.active {
 background-color:#4798DE !important;
}

.carousel-control-prev-icon {
 width: 7px;
 height: 12px;
 background: none;
 background-image: url(../img/iconprev.svg);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
}

.carousel-control-next-icon {
 width: 7px;
 height: 12px;
 background-image: url(../img/iconnext.svg);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
}


.control_next {
 position: absolute ;
 top: 40%;
 left: calc(100% - 25px);
 background: none;
 border: none;
 height: 25px;
 background: rgba(241, 242, 246, 0.3);
 border-radius: 2px;
}

.control_prev {
 position: absolute;
 top: 40%;
 background: none;
 border: none;
 height: 25px;
 background: rgba(241, 242, 246, 0.3);
 border-radius: 2px;
}


/* STOCK */

.stockSwiper {
 width: 100%;
 height: 100%;
}

.stockSwiper__slide {
 text-align: center;
 font-size: 18px;
 background: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
}

.stockSwiper__slide img {
 display: block;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.stockSwiper__slide {
 width: 70%;
}

.stock__swiper-pagination {
 margin-top: 10px !important;
}

.stock__nav-wrapper {
 width: 70%;
 margin: 0 auto;
}

.stock__button_prev {
 width: 20px;
 height: 25px;
 padding: 10px;
 background-image: url(../img/iconprev.svg);
 background-repeat: no-repeat;
 background-size: 40%;
 background-position: center;
 cursor: pointer;
 background-color: #FFFFFF;
 border: 1px solid #F1F2F6;
 border-radius: 2px;
 margin-left: 20%;
}
.stock__button_next {
 width: 20px;
 height: 25px;
 padding: 10px;
 background-image: url(../img/iconnext.svg);
 background-repeat: no-repeat;
 background-size: 40%;
 background-position: center;
 cursor: pointer;
 background-color: #FFFFFF;
 border: 1px solid #F1F2F6;
 border-radius: 2px;
 margin-right: 20%;
}








/* POPULAR CATEGORIES */

.categories {
 margin-bottom: 60px;
}

.categories__item {
 margin-bottom: 21px;
 padding: 5px 10px 5px;
 background: #F1F2F6;
 border-radius: 5px;
 box-shadow: 1px 1px 4px rgba(71, 152, 222, 0.7);
}

.categories__name {
 text-align: center;
}

.categories__link {
 font-weight: 700;
 font-size: 12px;
 line-height: 16px;
 color: #4798DE;
}

.categories__img_1 {
 background: url(/img/1440_rak_2x.png);
}

.categories__img_2 {
 background: url(/img/1440_klipartz_2x.png);
}

.categories__img_3 {
 background: url(/img/1440_loop_2x.png);
}
.categories__img_4 {
 background: url(/img/1440_system_2x.jpg);
}
.categories__img_5 {
 background: url(/img/1440_catalbath_2x.png);
}
.categories__img_6 {
 background: url(/img/1440_meb_2x.png);
}
.categories__img_7 {
 background: url(/img/1440-cab_2x.png);
}
.categories__img_8 {
 background: url(/img/1440_soap_2x.png);
}

.categories__img {
 width: 139px;
 height: 107px;
 margin-bottom: 10px;

 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
}


/* BESTSELLERS */


.best {     
 margin-bottom: 60px;
}

.swiper {
 width: 100%;
 height: 100%;
}

.swiper-slide {
 text-align: center;
 font-size: 18px;
 background: #fff;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
}

.swiper-slide img {
 display: block;
 margin-bottom: 15px;
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 15px;
}


.card__name {
 margin-bottom: 10px;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #6F7682;
}

.card__country {
 margin-bottom: 10px;
 font-family: 'PT Sans';
 font-style: normal;
 font-weight: 400;
 font-size: 13px;
 line-height: 17px;
 color: #6F7682;
}

.card__brand {
 font-family: 'PT Sans';
 font-style: normal;
 font-weight: 400;
 line-height: 17px;
 font-size: 13px;
 color: #6F7682;
}

.card__inStock {
 margin-bottom: 15px;
 width: 60%;

}

.card__text {
 font-family: 'PT Sans';
 font-style: normal;
 font-weight: 400;
 font-size: 13px;
 line-height: 17px;
 color: #4798DE;
}

.v {
 padding: 10px;
 background: url(/img/svg/V.svg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
}

.price {
 margin-bottom: 15px;
}

.price__btns {
 width: 30%;
 align-items: center;
}

.price__liked {
 background: url(/img/svg/liked.svg);
 width: 17px;
 height: 17px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
 border: none;
}

.compare { 
 padding: 10px;
 background: url(/img/svg/compare.svg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
}

.swiper-pagination {
 margin-top: 30px;
 position:relative;
}

.swiper-button-prev::after {
 position:relative;
 top: 160px;
 left: 90px;
 color: #4798DE;
 padding: 10px;
 font-size: 10px;
 border: 1px solid #F1F2F6;
 border-radius: 2px;
}


.swiper-button-next::after {
 position:relative;
 top: 160px;
 left: -90px;
 color: #4798DE;
 padding: 10px;
 font-size: 10px;
 border: 1px solid #F1F2F6;
 border-radius: 2px;
}

.swiper-pagination {
 padding-bottom: 10px;
}

.swiper-pagination-bullet {
 border-radius: 5%;
 width: 10px;
 height: 4px;
} 

.plus__subtitle {
 margin-bottom: 15px;
 font-weight: 400;
 font-size: 16px;
 line-height: 21px;
 color: #15244F;

}

.plus__list {
 background: url(/img/375_fon_1_2x.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.plus__item {
 margin-bottom: 20px;
}

.plus__text {
 font-weight: 400;
 font-size: 12px;
 line-height: 17px;
 color: #6F7682;
}

.plus__strong {
 font-weight: 400;
 font-size: 45px;
 line-height: 58px;
 color: #6CDB7E;
}
.plus__title {
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #15244F;
}

.plus__svg_del {
background: url(/img/svg/delivery.svg);
}
.plus__svg_sam {
 background: url(/img/svg/selfDelivery.svg);
}
.plus__svg_ser {
 background: url(/img/svg/clientsService.svg);
}
.plus__svg_gar {
 background: url(/img/svg/hits.svg);
}
.plus__svg_akc {
 background: url(/img/svg/sales.svg);
}
.plus__svg_shi {
 background: url(/img/svg/width.svg);
}

.plus__svg {
 padding-left: 30px;
 background-repeat: no-repeat;
 background-size: contain ;
 background-position: 5px center;
}


/* NEW */

.new {
 margin-bottom: 60px;
}

.new__swiper-slide {
 position: relative;
}

.new__hit-sign {
 position: absolute;
 left: 45%;
 top: 0
}


/* SECOND NAV */

.sec-nav {
 margin-bottom: 60px;
}

/* .sec-nav__link {
 margin: 0 auto;
 padding: 110px 50% 25px 30%;
 font-weight: 700;
 font-size: 13px;
 line-height: 17px;
 color: #FFFFFF;
 display: flex;
}

.sec-nav__brands {
 background: url(/img/1440_infoBrands_2x.jpg);
}
.sec-nav__sales {
 background: url(/img/1440_infoSales_2x.jpg);
}
.sec-nav__pay {
 background: url(/img/1440_infoPay_2x.jpg);
}
.sec-nav__baths {
 background: url(/img/1440_infoBath_2x.jpg);
}
.sec-nav__gifts {
 background: url(/img/1440_infoGifts_2x.jpg);
}
.sec-nav__choice {
 background: url(/img/1440_InfoChoice_2x.jpg);
} 

 .sec-nav__item {
 background-repeat: no-repeat;
 background-size: contain; 
 border-radius: 10px;
}
 */


 /* SALES */
.sales {
 margin-bottom: 60px;
}
.sales__swiper-slide {
 position: relative;
}
 
.sales__hit-sign {
 position: absolute;
 left: 70%;
 top: 0
}

.salesSwiper {
 margin-bottom: 60px; 
 }




 /* RECOMENDATION  */


 .recomendation {
  padding-bottom: 10px;
  background: url(/img/bg_rec.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
 }
 
 .recomendationSwiper {
  margin-bottom: 60px; 
  }


/* BRANDS */

.brands__head {

}


/* EVENTS */

.events__right {
 width: 50%;
 text-align: left;
 margin-left: 15px;
}

.events__left {
 display: flex;
 align-items: start;
 padding-top: 35%;
 width: 50%;
 background: url(/img/1440_events_2x.jpg);
 background-position: center top;
 background-size: contain;
 background-repeat: no-repeat;
 


}
.events__btn {
 align-self: left;
}

.events__subtitle {
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 display: flex;
 align-items: center;
 color: #15244F; 
}

.events__text {
 font-style: normal;
 font-weight: 400;
 font-size: 13px;
 line-height: 17px;
 color: #6F7682;
}